<div id="app">
    <p v-if="isMorning">Good morning!</p>
    <p v-if="isAfternoon">Good afternoon!</p>
    <p v-if="isEvening">Good evening!</p>
    <p>Time {{ myDate }}</p>
    <p>{{ seconds }} seconds have elapsed since you opened the page.</p>

    <div id='vueRoot'>
        <input type='date' v-model='myDate'>
        <br>
        {{myDate}}
    </div>

    <p>Hello, {{ greetee }} 2020!</p>



    <div v-if="state === 'loading'">Loading…</div>
    <div v-else-if="state === 'error'">An error occurred</div>
    <div v-else>…our content!</div>



    <button v-on:click="visible=!visible">{{visible?'Отобразить':'Скрыть'}}</button>

    <div v-show="!visible">
        <h2></h2>
        <p><a href="https://metanit.com/web/vuejs/2.2.php" target="_blank">Сайт о программировании METANIT.COM</a></p>
        <p><a href="https://ru.vuejs.org/v2/guide/instance.html" target="_blank"> Vue.js Экземпляр Vue</a></p>
        <p><a href="https://pages.github.com/" target="_blank"> Hosted directly from your GitHub repository</a></p>
        <p><a href="https://bitbucket.org/" target="_blank"> Bitbucket is more than just Git code management. Bitbucket gives teams one place to plan projects, collaborate on code, test, and deploy.</a></p>
        <p><a href="https://git-scm.com/download/gui/windows" target="_blank"> GUI Clients.</a></p>
        <p><a href="https://git-scm.com/download/gui/windows" target="_blank"> GUI Clients.</a></p>
        <p><a href="https://help.github.com/en/github/working-with-github-pages" target="_blank">Working with GitHub Pages</a></p>
        <p><a href="https://pages.github.com/" target="_blank">GitHub Pages</a></p>
        <p><a href="https://bootstrap-4.ru/" target="_blank">BootstrapCDN</a></p>

<hr>
  <p>      
        <pre>
        polminsk/polminsk.github.io
        git clone https://github.com/polminsk/polminsk.git
        polminsk/route2019
        polminsk/electron-start
        polminsk/my-project
        polminsk/Vue-router
        polminsk/webgrid
        polminsk/desktop-tutorial
        polminsk/vue-cell
        polminsk/bootstrap
        polminsk/mimo
        polminsk/kartavec.github.io
        </pre>
   </p>
 <hr> 
 <p>
    <pre>
        npm можно обновить командой:
        npm update npm -g
        Run

        git config --global user.email "you@example.com"
        git config --global user.name "Your Name"

to set your account's default identity.
    </pre>
 </p>
 <hr>
        <div id="example-1">
            <button v-on:click="counter += 1">+1 = {{ counter }} </button>
            <p>Кнопка выше была нажата {{ counter }} раз</p>
        </div>
        <ul>
            <li v-for="dog in dogs">{{ dog }}</li>
        </ul>
        <p>The second dog is {{ dogs[1] }}</p>
        <p>All the dogs are {{ dogs }}</p>

    </div>



</div>
<script src="https://unpkg.com/vue"></script>
<script>
    var hours = new Date().getHours();

    new Vue({
        el: '#app',
        data: {
            isMorning: hours < 12,
            isAfternoon: hours >= 12 && hours < 18,
            isEvening: hours >= 18,
            myDate: new Date().toISOString().slice(0, 10),
            greetee: 'world',
            seconds: 0,
            dogs: ['Rex', 'Rover', 'Henrietta', 'Alan'],
            counter: 0,
            visible: true
        },
        methods: {
            say: function(message) {
                alert(message)
            }
        },
        created() {
            setInterval(() => {
                this.seconds++;
                this.hours = new Date().getHours();
            }, 1000);
        }
    });

</script>
